body {
    margin: 0;
    padding: 0;
}

/* first section design starts here */
p {
    text-align: justify;
}

span {
    color: #FFAD5A;
}

.first-heading {
    font-family: 'Bitter', serif;
    font-family: 'Yeseva One', cursive;
    font-size: 25px;
    border-left: 5px solid #FF5959;
    border-radius: 5px;
    padding-left: 10px;
}

.first-section {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
}

.first-btn {
    margin: 25px 0px;
}

.left-side a {
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 30px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.right-side img {
    width: 450px;
    padding-left: 100px;
}

/* first section design ends here */

/* second section design starts here */
.second-heading {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Bitter', serif;
    font-family: 'Poppins', sans-serif;
}

.second-section {

    margin: 100px 100px;
}

.card-section {
    display: flex;
    justify-content: space-around;
}

.n-card {
    width: 300px;
    border: 2px solid white;
    box-shadow: 20px 20px 40px gray;
    border-radius: 20px;
}

#first-bg-color {
    background-color: #EDF5F6;
}

#second-bg-color {
    background-color: #FFEEEE;
}

#third-bg-color {
    background-color: #FFF4D6;
}

.bottom-section {
    padding: 15px 25px;
}

.n-image img {
    width: 150px;
}

/* second section design ends here */

/* third section design starts here */
.left-hand-side img {
    width: 330px;
    margin-left: 110px;

}

.right-hand-side {
    width: 360px;
    padding-top: 15px;
    margin-right: 430px;
}

.third-section {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    background-image: url(/images/shape-6.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: left;
}

.right-hand-side a {
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 30px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.second-btn {
    margin: 25px 0px;
}

.third-heading {
    font-family: 'Bitter', serif;
    font-family: 'Poppins', sans-serif;
}

/* third section design ends here */

/* fourth section design starts here */
.fourth-left-hand-side {
    width: 330px;
    margin-top: 15px;
    margin-left: 435px;
}

.fourth-right-hand-side img {
    width: 330px;
    padding-right: 110px;
}

.fourth-section {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    background-image: url(/images/shape-9.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: right;
    margin: 50px 0;
}

.fourth-left-hand-side a {
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 30px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.third-btn {
    margin: 25px 0px;
}

.fourth-heading {
    font-family: 'Bitter', serif;
    font-family: 'Poppins', sans-serif;
}

/* fourth section design ends here */

/* fifth section design starts here */
.contact-form h3 {
    text-align: center;
    background-color: #FFAD5A;
    padding: 10px 0;
    width: 157%;
    border-radius: 5px;
}

.contact-address h3 {
    text-align: center;
    background-color: #FFAD5A;
    padding: 10px 0;
    border-radius: 5px;
    width: 150%;
}

.contact-form input,
textarea {
    width: 150%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    resize: none;
    border: 1px solid gray;
}

.contact-form button {
    border: none;
    border-radius: 10px;
    background-color: #FF5959;
    color: white;
    cursor: pointer;
    padding: 12px;
    margin: 10px 0px;
    font-weight: bold;
}

.contact-address {
    margin-right: 180px;
}

.contact-address p {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}

.contact-address p:last-child {
    border-bottom: 0px;
}

.contact-address span {
    font-weight: bold;
    color: black;
}

.contact-area {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.map {
    border: 2px solid gray;
    margin: 0 164px;
    margin-bottom: 50px;
    border-radius: 5px;
}

.map iframe {
    width: 100%;
    height: 450px;
}

/* fifth section design ends here */

/* footer section design starts here */
footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 35px;
    font-family: 'Bitter', serif;
    font-family: 'Yeseva One', cursive;
}

.footer-paragraph {
    text-align: center;
}

.year-design {
    color: #FF5959;
}

/* footer section design ends here */